html {
    scroll-behavior: smooth;
    font-size: 1rem;
  }

body {
    margin: auto;
    box-sizing: border-box;
}

img {
    width: 30%;
    height: auto;
    max-width: 100%;
}
.button1, .button2 {
    display: inline-block;
}

#home-header {
    margin-top: 50px;
    text-align: center;
}

#delete-btn {
    text-align: center;
}

.home-content {
    text-align: center;
}

@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
